#swish-qr-code-container {
    width: 300px;
}

#swish-use-qr-code {
    align-items: center;
    display: flex;
}

.swish-modals {
    display: none;
}

.swish-button {
    background-color: #55b8e6;
}

.swish-button:active,
.swish-button:focus,
.swish-button:hover {
    background-color: #4ca5cf;
}

.swish-button,
.swish-button:active,
.swish-button:focus,
.swish-button:hover {
    background-image: url('../images/logo.svg');
    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-size: 25px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    height: 55px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 250px;
}

.swish-use-phone-popup-hint,
._hidden {
    display: none;
}
