<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}"
     xmlns="http://www.w3.org/1999/html">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko if: isPaymentAvailable() -->
        <!-- /ko -->
        <div class="payment-method-blocked _hidden">
            Payment is processing. Please check your account for more details.
            If the money is withdrawn from your account the order will be created
        </div>
        <div class="payment-method-unblocked _hidden">
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="payment-method-billing-address">
                <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <div class="checkout-agreements-block">
                <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <div class="actions-toolbar">
                <div class="swish-desktop _hidden">
                    <div class="swish-modals">
                        <div id="swish-use-phone-popup">
                            <div class="phone-input-conteiner">
                                Please make sure that you are using 46*** format of your phone number

                                <input type="text"
                                       name="telephone"
                                       id="telephone-value"
                                       data-bind="attr: {'value': currentTelephone }" />
                            </div>
                            <div class="swish-use-phone-popup-hint">
                                Please open you Swish mobile application and confirm the payment
                            </div>
                        </div>
                        <div id="swish-use-qr-code">
                            <div id="swish-qr-code-container"></div>
                            <div class="swish-use-qr-popup-hint">
                                You are going to pay <strong><span data-bind="text: grandTotal"></span></strong>
                                for your order.<br>
                                Please open your Swish mobile application and confirm the payment.
                            </div>
                        </div>
                    </div>
                    <button class="swish-button" data-bind="click: enterPhone">Enter Mobile Phone</button>
                    <button class="swish-button" data-bind="click: scanQRCode">Scan QR code</button>
                </div>
                <div class="swish-mobile _hidden">
                    <button class="swish-button" data-bind="click: processMobile">Pay with Swish</button>
                    <div class="swish-install-app-block _hidden">
                        <button class="swish-button" data-bind="click: installApp">Install App</button>
                        <div class="install-hint">
                            If you don't have Swish payment application please click the button.
                            You will be redirected to AppStore.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
