<?php
/**
 * @category  Swish
 * @package   Swish_Payment
 * @author    Ivans Zuks <info@scandiweb.com>
 * @copyright Copyright (c) 2020 Scandiweb, Ltd (https://scandiweb.com)
 * @license   https://opensource.org/licenses/AFL-3.0 The Academic Free License 3.0 (AFL-3.0)
 */

use Swish\Payment\Block\Onepage\Result;

?>

<?php /** @var $block Result */ ?>
<?php $result = $block->getResult(); ?>

<div class="checkout-success">
    <?php if (isset($result['incrementId'])) :?>
        <h1 class="page-title">
            <span class="base" data-ui-id="page-title-wrapper">Thank you for your purchase!</span>
        </h1>

        <p><?= $block->escapeHtml(__('Your order # is: <span>%1</span>.', $result['incrementId']), ['span']) ?></p>

        <p><?= $block->escapeHtml(__('We\'ll email you an order confirmation with details and tracking info.')) ?></p>
    <?php elseif (isset($result['error'])): ?>
        <p><?= $block->escapeHtml(__($result['error'])) ?></p>
    <?php elseif (isset($result['cancelled'])): ?>
        <p><?= $block->escapeHtml(__('Your payment was cancelled')) ?></p>
    <?php else: ?>
        <p><?= $block->escapeHtml(__('Loading results...')) ?></p>
    <?php endif;?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= $block->escapeUrl($block->getContinueUrl()) ?>">
                <span><?= $block->escapeHtml(__('Continue Shopping')) ?></span>
            </a>
        </div>
    </div>
</div>
